[submodule "aes-gcm"]
	path = aes-gcm
	url = git@github.com:theicfire/aes-gcm.git
[submodule "ed25519"]
	path = ed25519
	url = git@github.com:orlp/ed25519.git
[submodule "hash-library"]
	path = hash-library
	url = http://create.stephan-brumme.com/hash-library/.git
